.add-food form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-food form input,textarea{
    width:40%;
    height: 50px;
    margin-bottom: 10px;
}